<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:batch="http://www.springframework.org/schema/batch" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:kie="http://drools.org/schema/kie-spring"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://drools.org/schema/kie-spring http://drools.org/schema/kie-spring-2.0.0.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<context:property-placeholder location="classpath:nuwa.properties" />

    <context:property-placeholder location="classpath:nuwa.properties" />
    <context:component-scan base-package="com.genesis.nuwa.commons" />
    <context:component-scan base-package="com.genesis.nuwa.model" />
    <context:component-scan base-package="com.genesis.nuwa.service.impl" />
    <mybatis:scan base-package="com.genesis.nuwa.mapper" />

    <!-- Transaction -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"  p:dataSource-ref="dataSource" />
    <bean id="dataSource"  class="com.mchange.v2.c3p0.ComboPooledDataSource"
        p:driverClass="${jdbc.driverClassName}" 
        p:jdbcUrl="${jdbc.url}?useUnicode=true&amp;characterEncoding=UTF-8"
        p:user="${jdbc.username}" 
        p:password="${jdbc.password}" 
        p:minPoolSize="50"
        p:maxPoolSize="500" 
        p:acquireIncrement="50" 
        p:initialPoolSize="50"
        p:acquireRetryAttempts="60" 
        p:acquireRetryDelay="1000" 
        p:maxIdleTime="60"
        p:idleConnectionTestPeriod="30" 
         p:preferredTestQuery="select 1 from user where 1 !=1" />

    <!-- MyBatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
        p:dataSource-ref="dataSource" 
        p:typeAliasesPackage="com.genesis.nuwa.model"
        p:mapperLocations="classpath*:com/genesis/nuwa/mapper/**/*.xml" />
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:basePackage="com.ucredit.sps.mapper" />

	<!-- Activiti引擎配置 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="processEngineName" value="spring"></property>
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchemaUpdate" value="none" />
		<property name="jobExecutorActivate" value="false" />
		<property name="deploymentResources" value="classpath*:/com/genesis/nuwa/workflow/*.bpmn"></property>
	</bean>

	<!-- Activiti引擎工厂 -->
	<bean id="processEngineFactory" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<!-- Activiti的Service -->
	<bean id="repositoryService" factory-bean="processEngineFactory" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngineFactory" factory-method="getRuntimeService" />
	<bean id="formService" factory-bean="processEngineFactory" factory-method="getFormService" />
	<bean id="identityService" factory-bean="processEngineFactory" factory-method="getIdentityService" />
	<bean id="taskService" factory-bean="processEngineFactory" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngineFactory" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngineFactory" factory-method="getManagementService" />
</beans>
