.table {
	width: 100%;
	height: 100px;
	text-align: center;
}

.td_bottom {
	text-align: center;
	vertical-align: middle;
}
.table_nest {
	width: 100%;
	height: 100%;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: white;
	font-size: 14px;
	padding: 4px 4px 4px 4px;
	color: #4f6b72;
}

.td_first {
	border-left: 1px solid #C1DAD7;
	width: 5%;
}
.td_second {
	border-left: 1px solid #C1DAD7;
	width: 95%;
}

.td_bbcolor_white {
	border-bottom-color: white;
}
.td_brcolor_white {
	border-right-color: white;
}
.td_bbrcolor_white {
	border-bottom-color: white;
	border-right-color: white;
}
.td_padding {
	padding: 1px 1px 1px 1px;
}
.input {
	height: 25px;
	background: #CAFFC4;
	text-align: center;
}